
.container {
    display: flex;
    flex-wrap: wrap;
}

.header-shadding {
    background-color: #ddd;
    margin: 0
}

* {
    color: #888;
}

body {
    font-family: sans-serif;
    width: 800px;
    margin: 0 auto;
    padding: 10px;
}

.bogspot-header {
    width: 7%;
    margin-top: 5px;
    margin-left: 12px;
    margin-bottom: 5px;
    display: block;
    left: 0;
}

.toggle-login {
  text-align: right;
  margin-top: 15px;
  margin-bottom: 0;
  margin-right: 0px;
  display: inline-block;
  width: 89%;
}

.login-link:hover {
    background-color: #ffffff;
}

a {
 text-decoration: none;
    color: #888;
}

label {
    font-size: 15pt;
    display: inline-block;
    width: 140px;
    text-align: right;
}

hr {
    margin: 20px auto;
}

.blog-entry + .blog-entry {
    margin-top: 20px;
}

.blog-title {
    font-weight: bold;
    font-size: 20px;
}

.blog-body {
    margin: 0;
    font-size: 17px;
}

b {
    margin-top: 2px;
    font-size: 14px;
    color: red;
}

/*label {
    display: block;
    font-size: 20px;
}*/

.center {
    /*margin: auto;*/
    text-align: center;
}

br + input {
    margin-top: 10px;
}

b + br + input {
    margin-top: 2px;
}

input[type=text], input[type=password] {
/*    width: 400px;
    font-size: 20px;
    padding: 2px;*/
    width: 200px;
    padding:5px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=submit], a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-size: 18px;
    color: #888;
}

input[type=submit] {
    margin-top: 30px;
}

textarea {
    width: 400px;
    height: 200px;
    font-size: 17px;
    font-family: monospace;
}

hr {
    margin: 20px auto;
}

.blog-entry + .blog-entry {
    margin-top: 20px;
}

