{% extends "base.html" %}

{% block content %}
	<div class="center">
		<h1>Login</h1>
		<form method="post">
			<input type="text" name="username" value="{{username}}" placeholder="Username">
			<br>
			{% if username_msg %}
			{{username_msg | safe}}
			{% else %}
			<br>
			{% endif %}

			<input type="password" name="password" placeholder="Password">
			<br>
			{% if password_msg %}
			{{password_msg | safe}}
			{% else %}
			<br>
			{% endif %}

			{% if login_msg %}
			{{login_msg | safe}}
			<br>
			{% endif %}

			<input type="submit" value="Login" class="submit-btn">
		</form>
	</div>
{% endblock %}