
{% extends "base.html" %}

{% block content %}
    <br>
    <hr>
    {{post.render() | safe}}
    {% if comments %}
    <br>
    <hr>
    <h3>Comments</h3>
    <div class="small-br"></div>
    {% for comment in comments %}
    <div class="comment-entry">
        <i>{{comment.username}} wrote:</i>
        <p class="comment-body">{{ comment.body }}</p>
        {% if user %}
        {% if comment.user_id == user.key().id() %}
        <form method="post">
            <input type="submit" name="comment=edit={{post.post_id}}={{comment.id}}" value="&#xf044;" class="as-link disabled font-awesome">
            <input type="submit" name="comment=delete={{post.post_id}}={{comment.id}}" value="&#xf1f8;" class="as-link disabled font-awesome">
        </form>
        {% endif %}
        {% endif %}
    </div>
    {% endfor %}
    {% endif %}
    {% if user %}
    <br>
    <br>
    <form method="post">
        <label>
            <textarea name="comment=new-text={{post.post_id}}=0" placeholder="Write a comment here!" class="monospace" id="Comments"></textarea>
        </label>
        <br>
        {% if error %}
        <div class="error"><b>{{error}}</b></div>
        <br>
        {% endif %}
        <div class="small-br"></div>
        <input type="submit" name="comment=new={{post.post_id}}=0" value="Post Comment" class="submit-btn">
    </form>
    {% endif %}

{% endblock %}