<!DOCTYPE html>
<html>
    <head>
        <title>bogspot</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
    </head>
    <body>
        <header class="container header-shadding">
            <h1 class="bogspot-header">
                <a href="/bogspot/index">bogspot</a>
            </h1>
            <h4 class="toggle-login">
                <a class="login-link" href="{{login_toggle_link}}">{{login_toggle_text}}</a>
            </h4>
        </header>
        {% block content %}
        {% endblock %}

    </body>
</html>