<!DOCTYPE html>
<html>
    <head>
        <title>Add an entry</title>
    </head>

    <style type="text/css">

        body {
            font-family: sans-serif;
            width: 800px;
            margin: 0 auto;
            padding: 10px;
        }

        hr {
            margin: 20px auto;
        }

        .blog-entry + .blog-entry {
            margin-top: 20px;
        }

        .blog-title {
            font-weight: bold;
            font-size: 20px;
        }

        .blog-body {
            margin: 0;
            font-size: 17px;
        }


    </style>
    <body>
        <h1>/ascii/</h1>

        <hr>

        {% for entry in entries %}
        <div class="blog-entry">
            <div class="blog-title">{{entry.title}}</div>
            <pre class="blog-body">{{entry.body}}</pre>
        </div>
        {% endfor %}
    </body>
</html>