{% extends "base.html" %}

{% block content %}
	<div class="center">
		<h1>Login</h1>
		<form method="post">
			<!-- <label for="username">Username</label> -->
			<input type="text" name="username" value="{{username}}" placeholder="Username">
			<br>
			{{username_msg | safe}}

			<!-- <label for="password">Password</label> -->
			<input type="password" name="password" placeholder="Password">
			<br>
			{{password_msg | safe}}

			{{login_msg | safe}}

			<input type="submit">
		</form>
	</div>
{% endblock %}