
{% extends "base.html" %}

{% block content %}
        <h2>recent posts</h2>

        {% if entries %}
        <hr>
        {% endif %}

        {% for entry in entries %}
        <div class="blog-entry">
            <div class="blog-title">
            <a href="/bogspot/{{entry.key().id()}}">{{entry.title}}</a>
            <!-- {{entry.title}} -->
            </div>
            <pre class="blog-body">{{entry.body}}</pre>
        </div>
        {% endfor %}
        <hr>

        {% if user %}
        <form action="/bogspot/newpost">
			<input type="submit" value="New Post">
		</form>
        {% else %}
        <form action="/bogspot/login">
			<input type="submit" value="New Post">
		</form>
		{% endif %}


{% endblock %}