<!-- <!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
    <style type="text/css">

        body {
            font-family: sans-serif;
            width: 800px;
            margin: 0 auto;
            padding: 10px;
        }

        .blog-title {
            font-weight: bold;
            font-size: 20px;
        }

        .blog-body {
            margin: 0;
            font-size: 17px;
        }


    </style>
<body> -->
{% extends "base.html" %}

{% block content %}
    <div>
        <div class="blog-title">{{title}}</div>
        <pre class="blog-body">{{body}}</pre>
    </div>

{% endblock %}