
{% extends "base.html" %}

{% block content %}
    <br>
    <hr>
    <div>
        <div class="blog-title">{{entry.title}}</div>
        <pre class="blog-body">{{entry.body}}</pre>
    </div>
        <br>
        <form method="post">
            <!-- http://fontawesome.io/cheatsheet/ -->
            <input type="submit" name="edit" value="&#xf044;" class="as-link font-awesome">
            <input type="submit" name="delete" value="&#xf1f8;" class="as-link font-awesome">
            <input type="submit" name="like" value="&#xf164;" class="as-link font-awesome">
        </form>

{% endblock %}