        <div class="blog-entry">
            <div class="blog-title">
            <a href="/bogspot/{{entry.post_id}}">{{entry.title}}</a>
            <i class="slim-txt"> by {{entry.author}}</i>
            <i class="blog-date slim-txt">{{entry.created}}</i>
            </div>
            <div class="small-br"></div>
            <p class="blog-body">{{entry.body_br | safe}}</p>
        </div>
        <div class="med-br"></div>
        <form method="post">
            <!-- http://fontawesome.io/cheatsheet/ -->
            <input type="submit" name="post=edit={{entry.post_id}}" value="&#xf044;" class="as-link enabled font-awesome">
            <input type="submit" name="post=delete={{entry.post_id}}" value="&#xf1f8;" class="as-link enabled font-awesome">
            <input type="submit" name="post=like={{entry.post_id}}" value="&#xf164;" class="as-link {{entry.like_state}} font-awesome">
            <!-- render a specific message based upon number of likes -->
            <i>  {{entry.like_msg}}</i>
        </form>