{% extends "base.html" %}

{% block content %}
	<div class="center">
		<h1>Signup</h1>
		<form method="post">
			<!-- <label for="username">Username</label> -->
			<input type="text" name="username" value="{{username}}" placeholder="Username">
			<br>
			{{username_msg | safe}}

			<!-- <label for="password">Password</label> -->
			<input type="password" name="password" placeholder="Password">
			<br>
			{{password_msg | safe}}

			<!-- <label for="verify">Verify Password</label> -->
			<input type="password" name="verify" placeholder="Verify">
			<br>
			{{verify_msg | safe}}

			<!-- <label for="email">Email (optional)</label> -->
			<input type="text" name="email" value="{{email}}" placeholder="email">
			<br>
			{{email_msg | safe}}

			<input type="submit">
		</form>
	</div>

{% endblock %}