{% extends "base.html" %}

{% block content %}
	<div class="center">
		<h1>Signup</h1>
		<form method="post">
			<!-- <label for="username">Username</label> -->
			<input type="text" name="username" value="{{username}}" placeholder="Username">
			<br>
			{% if username_msg %}
			{{username_msg | safe}}
			{% else %}
			<br>
			{% endif %}

			<input type="password" name="password" placeholder="Password">
			<br>
			{% if password_msg %}
			{{password_msg | safe}}
			{% else %}
			<br>
			{% endif %}

			<input type="password" name="verify" placeholder="Verify">
			<br>
			{% if verify_msg %}
			{{verify_msg | safe}}
			{% else %}
			<br>
			{% endif %}

			<input type="text" name="email" value="{{email}}" placeholder="email">
			<br>
			{% if email_msg %}
			{{email_msg | safe}}
			{% else %}
			<br>
			{% endif %}
			<br>

			<input type="submit" class="submit-btn">
		</form>
	</div>

{% endblock %}